Flask
numpy
pandas
asttokens
backcall
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
dnspython
executing
Flask
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
lightgbm
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
python-dateutil
requests
scikit-learn
scipy
Gunicorn