{% extends 'page_layout.html' %}

{% block body %}


<div class="container">
    <!-- <div class="col-lg-8 mb-4 contact-left"> -->
    <br>
    <form method="POST" action="/result" class="form-inline" id="predictionForm"
        style="gap: 2.7%;margin-bottom:3rem;width: 41vw;padding: 1.8%;background-color: #F7FFE5;border-radius: 5px;box-shadow: 3px 3px #E1ECC8;">
        <div class="form-group">
            <label for="Location"><b>City: &nbsp; </b></label>
            <!-- <input type="text" class="form-control" id="Location" name="Location" required /> -->
            <select class="form-control" id="Location" name="Location" required>
                <option selected disabled>Select Location</option>
                <option value="Delhi">Delhi</option>
                <option value="Bengaluru">Bengaluru</option>
                <option value="Bombay">Bombay</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Kanpur">Kanpur</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Pune">Pune</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Date"><b>Date: &nbsp; </b></label>
            <input type="date" class="form-control" id="Date" name="Date" required />
        </div>

        <button type="submit" id="submit" style="border: none;background-color: transparent">
            <i class="fa fa-search" style="color:green; font-size: large;"></i>
        </button>


    </form>
    {% if result %}
    <div>
        <div class="trends" style="display: none;" id="predheading">
            Predictions for {{city}}
        </div>
        <div class="pricing-box">

            <div class="popup" style="display:none;" id="resultCard">
                <h6>
                    <div class="mb-4">
                        <div class="card " style="width: 20vw;">
                            <h6 class="card-header">AQI</h6>
                            <div class="card-body" style="display: flex;align-items: center;">

                                <div class="display-4" id="result">{{aqi}}</div>
                                <div class="font-italic">&nbsp; ppm</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="align-items: center;" id="type">{{type}}</li>

                            </ul>
                        </div>

                    </div>

                </h6>
                <h6 id="result">
                    <div class="mb-4">
                        <div class="card " style="width: 20vw;">
                            <h6 class="card-header">Temperature</h6>

                            <div class="card-body" style="display: flex;align-items: center;">
                                <div class="display-4" id="temp">{{ temp }}</div>
                                <div class="font-italic">&nbsp; &deg;C</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="display: flex;">Max-temp: &nbsp; <div id="maxtemp">{{
                                        maxtemp}} &deg;C </div>
                                </li>
                                <li class="list-group-item" style="display: flex;">Min-temp: &nbsp; <div id="mintemp">{{
                                        mintemp}} &deg;C</div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </h6>
                <h6 id="result">
                    <div class="mb-4">
                        <div class="card " style="width: 20vw;">
                            <h6 class="card-header">Precipitation</h6>

                            <div class="card-body" style="display: flex;align-items: center;">

                                <div class="display-4" id="preci">{{ preci }}</div>
                                <div class="font-italic">&nbsp; mm</div>

                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="display: flex;">Humidity: &nbsp;<div id="humidity">
                                        {{humidity}}</div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </h6>
                <h6 id="result">
                    <div class="mb-4">
                        <div class="card " style="width: 20vw;">
                            <h6 class="card-header">Pressure</h6>
                            <div class="card-body" style="display: flex;align-items: center;">

                                <div class="display-4" id='pressure'>{{ pressure }}</div>
                                <div class="font-italic">&nbsp; mbar</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="display: flex;">Wind Speed: &nbsp; <div
                                        id="windspeed">{{ windspeed}} kmph</div>
                                </li>
                                <li class="list-group-item" style="display: flex;">Visibility: &nbsp; <div
                                        id="visibility">{{ visibility}}</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </h6>
                <!-- INSIGHTS -->
                <div class="jumbotron" style="padding-top: 1.5rem;margin-top: 1.5rem;padding-bottom: 1.5rem;">
                    <p class="lead" style="font-weight: 600;color: #243D25;">Real-time Insights:</p>
                    <ul class="list-group list-group-flush" style="display: flex; gap: 4px;" id="insights">
                    </ul>
                </div>

                <div class="jumbotron" style="padding-top: 1.5rem;margin-top: 1.5rem;padding-bottom: 1.5rem;">
                    <p class="lead" style="font-weight: 600;color: #243D25;">Health Advice for {{city}}:</p>
                    <ul class="list-group list-group-flush" style="display: flex; flex-direction: row; gap: 4px;"
                        id="insights">
                        <ul style="display: flex; flex-direction: column; gap: 2px; align-items: center;
                        justify-content: center;">

                            <img style="height: 70px; width: fit-content;" src="\static\images\umbrella.png">
                            <p>Carry Umbrella</p>
                            <div id="umbrella"></div>
                        </ul>
                        <ul
                            style="display: flex; flex-direction: column; gap: 2px ; align-items: center; justify-content: center;">

                            <img style="height: 70px; width: fit-content;" src="\static\images\mask.png">
                            <p>Wear Mask</p>
                            <div id="mask"></div>
                        </ul>
                        <ul
                            style="display: flex; flex-direction: column; gap: 2px ; align-items: center; justify-content: center;">

                            <img style="height: 70px; width: fit-content;" src="\static\images\indoors.png">
                            <p>Stay Indoors</p>
                            <div id="indoor"></div>
                        </ul>
                        <ul
                            style="display: flex; flex-direction: column; gap: 2px  ; align-items: center; justify-content: center;">

                            <img style="height: 70px; width: fit-content;" src="\static\images\purifier.png">
                            <p>Use Purifiers</p>
                            <div id="purifier"></div>
                        </ul>
                    </ul>
                </div>



                <br>

                <div class="jumbotron" style="padding-top: 1.5rem;margin-top: 1.5rem;padding-bottom: 1.5rem;">
                    <p class="lead" style="font-weight: 600;color: #243D25;">Action Plan for Environment</p>
                    <ul class="list-group list-group-flush" style="display: flex; gap: 4px;" id="insights">
                        <li class="list-group-item">
                            Plant a Tree and Take Care of It.
                        </li>
                        <li class="list-group-item">
                            Use Public Transport or Walk Whenever Possible.
                        </li>
                        <li class="list-group-item">
                            Choose reusable over single-use.
                        </li>
                    </ul>
                </div>


            </div>
            <div class="trends" style="display: none;" id="trendheading">
                Historical Trends
            </div>

            <div class="jumbotron" style="padding-top: 1.5rem;margin-top: 1.5rem;padding-bottom: 1.5rem;">
                <center>
                <p class="lead" style="font-weight: 600;color: #243D25;">Calender Heat-map for the past 1 year AQI</p>
                
                <div style=" display: inline-block ; padding-top: 1.5rem;margin-bottom: 1.5rem;padding-bottom: 1.5rem;">
                    
                    <div id="cal-heatmap" class="font-weight-bold" style="font-size: large;"></div>
                    <div id="cal-heatmap-legend" class="font-weight-bold" style='float: "center"; '></div>
                </div></center>
                
                <ul class="list-group list-group-flush" style="display: flex; gap: 4px; flex-direction: row;"
                    id="insights">
                    <div class="chartImg">
                        <img id="weeklyAQI" style="height: fit-content; width: 100%;" src="{{ plot_filename }}">
                    </div>
                    <div class="chartImg">
                        <img id="yearlyAQI" style="height: fit-content; width: 100%;" class="chartImg"
                            src="{{ bar_plot }}">
                    </div>
                </ul>                
            </div>            
        </div>
    </div>
</div>

{% else %}

{% endif %}
</div>
</div>

</div>
<script>
    // var resultDiv = document.getElementById('result');
    var x = document.getElementById('resultCard');

    var trendheading = document.getElementById('trendheading');
    var predheading = document.getElementById('predheading');

    var urlParams = new URLSearchParams(window.location.search);

    // var temperature = urlParams.get('temp');


    var result = document.getElementById('result');;


    if (result) {

        let data = [];
        var aqiclass = "";
        var aqiWarning = "";
        var result = '{{aqi}}';
        var mask = "Required"
        var indoor = "Not required"
        var purifier = "Required"

        if (result <= 50) {
            aqiclass = "Good";
            aqiWarning = "Air quality is satisfactory, and air pollution poses little or no risk."
            mask = "Not required"
            purifier = "Not required"
        }
        else if (result <= 100) {
            aqiclass = "Moderate";
            purifier = "Not required"

            aqiWarning = "Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution."
        }
        else if (result <= 150) {
            aqiclass = "Poor";
            aqiWarning = "Members of sensitive groups may experience health effects. The general public is less likely to be affected."
        }
        else if (result <= 200) {
            aqiclass = "Very Poor";
            aqiWarning = "Some members of general public may experience health effects; members of sensitive groups may experience more serious health effects."
        }
        else if (result <= 250) {
            aqiclass = "Severe"
            aqiWarning = "Health alert: The risk of health effects is increased for everyone."
        }
        else {
            aqiclass = "Hazardous";
            aqiWarning = "Health warning of emergency conditions: everyone is more likely to be affected."
            indoor = "Required"
        }
        data.push(aqiWarning)

        var max_temp = Math.max('{{maxtemp}}', '{{temp}}')
        var min_temp = Math.min('{{mintemp}}', '{{temp}}')

        if (max_temp >= 40) {
            data.push("High Temperatures: Avoid going out in the sun and drink sufficient water and as often as possible")
        }

        document.getElementById("mintemp").innerHTML = min_temp;
        document.getElementById("maxtemp").innerHTML = max_temp;
        document.getElementById("type").innerHTML = aqiclass;
        document.getElementById("mask").innerHTML = mask;
        document.getElementById("indoor").innerHTML = indoor;
        document.getElementById("purifier").innerHTML = purifier;


        if (mask == "Not required") {
            document.getElementById("mask").style.color = "grey";
        }
        else {
            document.getElementById("mask").style.color = "red";
            data.push("Do not forget to wear a mask if you go out!")
        }
        if (purifier == "Not required") {
            document.getElementById("purifier").style.color = "grey";
        }
        else {
            document.getElementById("purifier").style.color = "red";
        }
        if (indoor == "Required") {
            document.getElementById("indoor").style.color = "red";
        }
        else {
            document.getElementById("indoor").style.color = "grey";
        }

        var rain = "{{preci}}"
        if (rain == 0) {
            document.getElementById("umbrella").innerHTML = "Not required";
            document.getElementById("umbrella").style.color = "grey";
        }
        else {
            document.getElementById("umbrella").innerHTML = "Required";
            document.getElementById("umbrella").style.color = "red";
            data.push("It may rain today. Remember to carry an umbrella with you.")
        }


        let list = document.getElementById("insights");
        for (i = 0; i < data.length; ++i) {
            let li = document.createElement('li');
            li.innerText = data[i];
            li.classList.add("list-group-item");
            list.appendChild(li);
        }




        var json = '{{data}}'
        json = json.replace(/&#39;/ig, '"');

        const sample = JSON.parse(json)
        console.log(typeof (json))
        console.log(typeof (sample))

        const cal = new CalHeatmap();
        cal.paint(
            {
                data: {
                    source: sample,
                    
                    x: 'Date',
                    y: d => +d['value'],
                    groupY: 'max',
                },
                date: { start: new Date('2022-08-01') },
                range: 12,
                scale: {
                    color: {
                        // scheme: 'PRGn',
                        // range: ["yellow", "red"],
                        // interpolate: 'rgb',
                        scheme: 'Rainbow',
                        type: 'linear',
                        domain: [0, 500],
                    },
                },
                domain: {
                    type: 'month',
                    gutter: 5,
                    padding: [0, 7, 7, 0],
                    label: { position: 'top' , text: "MMM YYYY"},
                },
                subDomain: { type: 'day', radius: 2, width: 10 },
                itemSelector: '#cal-heatmap',
            },
            [
                [
                    Tooltip,
                    {
                        text: function (date, value, dayjsDate) {
                            return (

                                (Math.round(value) ? Math.round(value) + 'ppm AQI' : 'No data') +
                                ' on ' +
                                dayjsDate.format('LL')
                            );
                        },
                    },
                ],
                [
                    Legend,
                    {
                        tickSize: 0,
                        width: 800,
                        itemSelector: '#cal-heatmap-legend',
                        label: 'AQI Values',
                    },
                ],
            ]
        );


        x.style.display = 'flex';
        x.style.flexWrap = 'wrap';
        x.style.justifyContent = 'space-between';
        trendheading.style.display = 'flex';
        predheading.style.display = 'flex';


    }


</script>
{% endblock %}